// -----------------------------------------------------------------------------
// This file contains all styles related to inner Gutenberg Blocks
// -----------------------------------------------------------------------------

@use "../01_abstracts/index" as *;

body .gutenberg-content {
    // Remove margin from first and last child inside block content
    * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Space out headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
    }

    // Give links animated underline hover
    a {
        &:not(.wp-block-button__link) {
            @include LinkHover;
        }
    }

    ul {
        padding-left: 1rem;

        li {
            list-style-type: none;
            position: relative;
            transition: var(--se--transition);
            display: block;
            height: auto;

            &::before {
                content: "";
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50px;
                background-color: inherit;
                display: flex;
                position: absolute;
                top: 50%;
                left: -1rem;
                transform: translateY(-40%);
                transition: var(--se--transition);
            }
        }
    }
}
