// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "../01_abstracts/index" as *;

body.home {
  #frontpage-banner {
    @include mq(md) {
      padding: 6rem 0;
    }

    @include mq(lg) {
      padding: var(--se--section-padding) 0;
      height: 70vh;
      width: calc(100% + 2px);
      left: -1px;
    }

    .wrapper {
      width: 100%;
      height: 100%;

      .container {
        height: 100%;
        display: flex;
        align-items: center;

        @include mq-max(sm) {
          width: auto;
        }

        .banner-content {
          max-width: 600px;

          h1 {
            color: var(--wp--preset--color--light-b);
            margin-bottom: 1.5rem;
          }
          
          p {
            color: var(--wp--preset--color--light-b);
            margin-bottom: 2rem;
          }
        }
      }

      .background-image {
        .inner {
          width: 100%;
          height: 100%;

          svg {
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;

            @include mq(sm) {
              width: 100%;
            }

            @include mq(xxl) {
              height: 100%;
              width: auto;
            }

            @include mq(desktop) {
              width: 100%;
            }
            
            @include mq(qhd) {
              height: auto;
              width: auto;
            }
          }

          .image-figure {
            height: 100%;
            background-color: var(--wp--preset--color--primary-b);

            img {
              width: 80%;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
