// -----------------------------------------------------------------------------
// This file contains styles that are specific to the standard page template
// -----------------------------------------------------------------------------

@use "../01_abstracts/index" as *;

// Page banner
$full_height: calc(100% - var(--se--section-padding));
section#page-banner {
  //Common styling
  padding: 0;

  // Overlay styling
  &.page-banner-overlay {
    height: calc(80vh - var(--se--header-height));
    max-height: calc(700px + var(--se--section-padding));

    @include mq-max(lg) {
      background-color: var(--wp--preset--color--light-b);
    }

    @include mq(desktop) {
      height: calc(700px + var(--se--section-padding));
    }

    @include mq(qhd) {
      height: calc(60vh + var(--se--section-padding));
      max-height: calc(800px + var(--se--section-padding));
    }

    @include mq(lg) {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--se--section-padding);
        background-color: var(--wp--preset--color--light-b);
      }
    }

    .banner-figure {
      position: absolute;
      width: 24px;
      height: 160px;
      background-color: var(--wp--preset--color--accent-b);
      bottom: 2rem;

      @include mq(qhd) {
        bottom: 4rem;
      }

      &.left {
        left: 5rem;
      }

      &.right {
        right: 5rem;
      }
    }

    .banner-overlay {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mq-max(lg) {
        position: absolute;
        bottom: 0;
      }

      @include mq(lg) {
        height: 100%;
      }

      h1 {
        color: var(--wp--preset--color--dark-1);

        @include mq(lg) {
          color: var(--wp--preset--color--light-b);
        }
      }

      p {
        max-width: 50ch;
        color: var(--wp--preset--color--dark-2);

        @include mq(lg) {
          color: var(--wp--preset--color--light-b);
        }
      }
    }

    .background-image {
      height: 50%;

      @include mq(lg) {
        height: $full_height;
      }

      .inner {
        width: 100%;
        height: 100%;

        svg {
          @include mq-max(lg) {
            display: none;
          }

          @include mq(lg) {
            height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            width: auto;
          }
        }

        .image-figure {
          height: 100%;
          background-color: var(--wp--preset--color--primary-b);

          img {
            @include mq(lg) {
              width: 70%;
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  // No overlay styling
  &.page-banner {
    height: 50vh;
    max-height: calc(700px + var(--se--section-padding));

    @include mq(desktop) {
      height: calc(700px + var(--se--section-padding));
    }

    @include mq(qhd) {
      height: calc(60vh + var(--se--section-padding));
      max-height: calc(800px + var(--se--section-padding));
    }

    .background-image {
      height: $full_height;

      .image-figure {
        height: 100%;
      }
    }
  }
}

body section.relaterede-nyheder-block,
body section.relaterede-ejendomme-block {
  @include Related;
}

body .wp-block-spacer {
  @include mq-max(lg) {
    max-height: 2rem;
  }
}
