// -----------------------------------------------------------------------------
// Standard Swiper.js Slider Block styling
// -----------------------------------------------------------------------------

@use '../../../assets/styles/scss/01_abstracts/mixins' as *;
