// -----------------------------------------------------------------------------
// Staggered Columns Block styling
// -----------------------------------------------------------------------------

@use "../../../assets/styles/scss/01_abstracts/mixins" as *;

section.staggered-columns-block {
  .container {
    width: auto;
  }

  .kolonner-grid {
    --bs-gutter-x: 5.25rem;

    .kolonne-item {
      &:nth-of-type(even) {
        margin-top: var(--se--section-padding);

        @include mq(lg) {
          margin-top: calc(var(--bs-gutter-x) * 2.5);
        }
      }

      .image-figure {
        margin: 0 0 2rem;
      }

      p {
        margin-bottom: 2rem;
      }
      
      h1, h2, h3, h4, h5, h6, p {
        color: var(--wp--preset--color--dark-1);
      }
    }
  }
}
