section.selskaber-block .container {
  width: auto;
}
@media only screen and (min-width: 992px) {
  section.selskaber-block .content h2 {
    margin-bottom: 4rem;
  }
}
section.selskaber-block .selskaber-grid {
  --bs-gutter-y: 3rem;
}
@media only screen and (min-width: 992px) {
  section.selskaber-block .selskaber-grid {
    --bs-gutter-x: 5rem;
    --bs-gutter-y: 7rem;
  }
}
section.selskaber-block .selskaber-grid .selskab-item a {
  -webkit-transition: var(--se--transition);
  transition: var(--se--transition);
}
section.selskaber-block .selskaber-grid .selskab-item a:hover .image-figure {
  background: var(--wp--preset--color--secondary-d-2);
}
section.selskaber-block .selskaber-grid .selskab-item a:hover .image-figure::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
@media only screen and (min-width: 992px) {
  section.selskaber-block .selskaber-grid .selskab-item:nth-of-type(2) {
    margin-top: calc(var(--bs-gutter-y) * 2);
  }
}
section.selskaber-block .selskaber-grid .selskab-item .image-figure {
  -webkit-transition: var(--se--transition);
  transition: var(--se--transition);
  background: var(--wp--preset--color--secondary-l-2);
  height: 200px;
  width: auto;
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media only screen and (min-width: 576px) {
  section.selskaber-block .selskaber-grid .selskab-item .image-figure {
    height: 250px;
    padding: 0 10rem;
  }
}
@media only screen and (min-width: 768px) {
  section.selskaber-block .selskaber-grid .selskab-item .image-figure {
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 992px) {
  section.selskaber-block .selskaber-grid .selskab-item .image-figure {
    padding: 0 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  section.selskaber-block .selskaber-grid .selskab-item .image-figure {
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  section.selskaber-block .selskaber-grid .selskab-item .image-figure {
    padding: 0 5rem;
  }
}
section.selskaber-block .selskaber-grid .selskab-item .image-figure::after {
  content: "";
  width: 90%;
  height: 8px;
  background: var(--wp--preset--color--accent-b);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform var(--se--transition);
  transition: -webkit-transform var(--se--transition);
  transition: transform var(--se--transition);
  transition: transform var(--se--transition), -webkit-transform var(--se--transition);
  -webkit-transform-origin: left;
          transform-origin: left;
}
section.selskaber-block .selskaber-grid .selskab-item .selskab-title-container .selskab-branche {
  color: var(--wp--preset--color--dark-2);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
section.selskaber-block .selskaber-grid .selskab-item .selskab-title-container .selskab-title {
  color: var(--wp--preset--color--dark-1);
  margin-bottom: 0;
}