// -----------------------------------------------------------------------------
// This file contains all site-wide SCSS mixins.
// -----------------------------------------------------------------------------

// Set up SASS map
@use "sass:map";
@use "../01_abstracts/variables" as *;

// Media min-width query mixin
@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

// Media max-width query mixin
@mixin mq-max($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (max-width: $size) {
    @content;
  }
}

// Media portrait query mixin
@mixin mq-portrait($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) and (orientation: portrait) {
    @content;
  }
}

// Media landscape query mixin
@mixin mq-landscape($key) {
  $size: map.get($breakpoints, $key);

  @media only screen and (min-width: $size) and (orientation: landscape) {
    @content;
  }
}

// Standard button mixin
@mixin Button {
  position: relative;
  padding: 0 2rem;
  height: 3.5rem;
  width: fit-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0;
  max-width: 420px;
  background-color: var(--wp--preset--color--accent-b);
  color: var(--wp--preset--color--light-b);
  font-family: var(--se--button-font);
  transition: var(--se--transition);
  font-weight: 600;
  font-size: 1rem;
  text-transform: none;
  text-decoration: none;
  border-radius: 100px;
  cursor: pointer;
  white-space: nowrap;
  outline: 0;
  z-index: 9;
  user-select: none;
  border: 0;

  &:hover {
    background-color: var(--wp--preset--color--accent-d);
  }

  &:active {
    transform: translateY(3px);
    background-color: var(--wp--preset--color--accent-l);
  }
}

// Dark button mixin
@mixin DarkButton {
  background-color: var(--wp--preset--color--primary-b);
  color: var(--wp--preset--color--light-b);

  &:hover {
    background-color: var(--wp--preset--color--primary-d);
  }

  &:active {
    transform: translateY(3px);
    background-color: var(--wp--preset--color--primary-l);
  }
}

//Outline button mixin
@mixin OutlineButton {
  background-color: transparent;
  border: 1px solid var(--wp--preset--color--secondary-b);
  color: var(--wp--preset--color--secondary-b);

  &:hover {
    background-color: var(--wp--preset--color--accent-d);
    border: 1px solid var(--wp--preset--color--accent-d);
    color: var(--wp--preset--color--light-b);
  }

  &:active {
    transform: translateY(3px);
    background-color: var(--wp--preset--color--accent-l);
    border: 1px solid var(--wp--preset--color--accent-l);
    color: var(--wp--preset--color--light-b);
  }
}

// Standard link hover
@mixin LinkHover {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--wp--preset--color--accent-b);
    transform: scaleX(0);
    transition: transform var(--se--transition);
    transform-origin: right;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

// Isotope grid
@mixin Isotope {
  .container {
    width: auto;
  }

  .content {
    @include mq(lg) {
      h2 {
        margin-bottom: 4rem;
      }
    }
  }

  .isotope-grid {
    --bs-gutter-y: 3rem;

    @include mq(lg) {
      --bs-gutter-x: 5rem;
      --bs-gutter-y: 7rem;
    }

    .grid-item {
      a {
        transition: var(--se--transition);

        &:hover {
          .image-figure {
            background: var(--wp--preset--color--secondary-d-2);

            &::after {
              transform: scaleX(1);
              transform-origin: left;
              z-index: 9;
            }
          }
        }
      }

      &:nth-of-type(2) {
        @include mq(lg) {
          margin-top: calc(var(--bs-gutter-y) * 2);
        }
      }

      .image-figure {
        transition: var(--se--transition);
        background: var(--wp--preset--color--secondary-l-2);
        height: 200px;
        // width: 100%;
        width: auto;
        padding: 0 5rem;
        display: flex;
        align-items: center;
        position: relative;

        @include mq(sm) {
          height: 250px;
          padding: 0 10rem;
        }

        @include mq(md) {
          padding: 0 4rem;
        }

        @include mq(lg) {
          padding: 0 6rem;
        }

        @include mq(xl) {
          padding: 0 4rem;
        }

        @include mq(xxl) {
          padding: 0 5rem;
        }

        &::after {
          content: "";
          width: 90%;
          height: 8px;
          background: var(--wp--preset--color--accent-b);
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scaleX(0);
          transition: transform var(--se--transition);
          transform-origin: left;
        }
      }

      .isotope-captions {
        .isotope-caption-1 {
          color: var(--wp--preset--color--dark-2);
          margin-top: 1rem;
          margin-bottom: 0.5rem;
          font-weight: 400;
        }

        .isotope-caption-2 {
          color: var(--wp--preset--color--dark-1);
          margin-bottom: 0;
        }
      }
    }
  }
}

// Selskaber and Nyheder banner
@mixin Related {
  background-color: var(--wp--preset--color--secondary-b-2);

  .related-item {
    @include mq-max(lg) {
      &:not(:last-of-type) {
        margin-bottom: 3rem;
      }
    }

    a {
      transition: var(--se--transition);

      &:hover {
        .image-figure {
          &::after {
            transform: scaleX(1);
            transform-origin: left;
            z-index: 9;
          }
        }
      }
    }

    .image-figure {
      transition: var(--se--transition);
      background: #d9d9d9;
      height: 200px;
      width: auto;
      display: flex;
      align-items: center;
      position: relative;

      @include mq(sm) {
        height: 250px;
      }

      &::after {
        content: "";
        width: 90%;
        height: 8px;
        background: var(--wp--preset--color--accent-b);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform var(--se--transition);
        transform-origin: left;
        z-index: 9;
      }
    }

    .captions {
      .caption-1 {
        color: var(--wp--preset--color--dark-2);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
      }

      .caption-2 {
        color: var(--wp--preset--color--dark-1);
        margin-bottom: 0;
      }
    }
  }
}
